<div class="container">
<div class="nav">
  <img src="../assets/logo.png" alt="cat" width="50" height="50">
  <h1>Find Your Cat</h1> 
</div>
<mat-form-field appearance="fill" >
  <mat-label>Breed of cat</mat-label>
  <mat-select   (selectionChange)="updateBreed($event.value)">
    <mat-option  *ngFor="let breed of breedList" [value]="breed">
      {{breed.name}}
    </mat-option>
  </mat-select>
  
</mat-form-field>
<mat-form-field appearance="fill" >
  <mat-label>Limit</mat-label>
<mat-select   (selectionChange)="updateLimit($event.value)">
  <mat-option  [value]="10">
    10
  </mat-option>
  <mat-option  [value]="25">
    25
  </mat-option>
  <mat-option  [value]="100">
    100
  </mat-option>
</mat-select>
</mat-form-field>
  <table mat-table [dataSource]="apidata" class="mat-elevation-z8">
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef> Image </th>
      <div class="imageTab">
        <td mat-cell *matCellDef="let element"> <img src={{element.url}} alt="cat" width="400" height="200">  </td>
      </div>
      
    </ng-container>
  
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>